/* General body styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
}

/* Main background */
.background {
  background-image: url('../public/IMG3.jpeg'); /* New background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Container for the movie list */
.movie-list-container {
  background: rgba(255, 255, 255, 0.53); /* Transparent background */
  border: 2px solid #e2aaff; /* Pinkish border to match theme */
  border-radius: 15px;
  padding: 20px;
  width: 90%; /* Adjust for responsive design */
  max-width: 800px; /* Increased max width */
  text-align: left;
  font-size: 0.8em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.corner-image-1 {
  position: absolute;
  top: 750px;
  right: 40%; /* Adjust position as needed */
  width: 80px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}

.corner-image-2 {
  position: absolute;
  top: 730px;
  right: 20%; /* Adjust position as needed */
  width: 200px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}

.corner-image-3 {
  position: absolute;
  top: 520px;
  right: 25%; /* Adjust position as needed */
  width: 130px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}

.corner-image-4 {
  position: absolute;
  top: 385px;
  left: 10%; /* Adjust position as needed */
  width: 180px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}

.corner-image-5 {
  position: absolute;
  top: 670px;
  left: 13%; /* Adjust position as needed */
  width: 150px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}

.corner-image-6 {
  position: absolute;
  top: 320px;
  left: 37%; /* Adjust position as needed */
  width: 150px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}

.corner-image-7 {
  position: absolute;
  top: 200px;
  right: 22%; /* Adjust position as needed */
  width: 170px; /* Adjust size as needed */
  height: auto;
  z-index: 2;
}

/* Title */
.title {
  font-size: 1.4em;
  margin-bottom: 15px;
  color: #d55b5b; /* Festive red-pink */
  font-weight: bold;
  text-align: center;
}

.title1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #d55b5b; /* Festive red-pink */
  font-weight: bold;
  text-align: center;
}


/* Movie list styles */
.movie-list-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px; /* Spacing between items */
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
  color: #333;
  justify-content: flex-start;
}

.custom-checkbox input {
  display: none; /* Hide default checkbox */
}

.custom-checkbox .checkmark {
  width: 14px;
  min-width: 14px;
  height: 14px;
  border: 2px solid #d55b5b; /* Border color */
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  background: white;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox input:checked + .checkmark {
  background: #d55b5b; /* Fill color when checked */
  border-color: #d55b5b;
}

.custom-checkbox .checkmark::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
}

/* Save button styles */
.save-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #d55b5b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.save-button:hover {
  background-color: #b04848;
}

/* Responsive styles */
@media (max-width: 500px) {

/* Title */
  .title {
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 0;

    color: #d55b5b; /* Festive red-pink */
    font-weight: bold;
    text-align: center;
  }

  .title1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
    color: #d55b5b; /* Festive red-pink */
    font-weight: bold;
    text-align: center;
    width: 300px;
  }

  /* Container for the movie list */
  .movie-list-container {
    background: rgba(255, 255, 255, 0.53); /* Transparent background */
    border: 2px solid #e2aaff; /* Pinkish border to match theme */
    border-radius: 15px;
    padding: 10px;
    width: 90%; /* Adjust for responsive design */
    max-width: 800px; /* Increased max width */
    text-align: left;
    font-size: 0.8em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }

  .movie-list-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 5px; /* Spacing between items */
  }

  .custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.7em;
    color: #333;
    justify-content: flex-start;
  }

  .custom-checkbox .checkmark {
    width: 10px;
    min-width: 10px;
    height: 10px;
    border: 2px solid #d55b5b; /* Border color */
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    background: white;
    transition: background 0.3s ease, border-color 0.3s ease;
  }

  .custom-checkbox .checkmark::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    bottom: 10px;
    left: 1px;
    display: none;
  }

  .corner-image-1 {
    position: absolute;
    top: 720px;
    right: 10%; /* Adjust position as needed */
    width: 80px; /* Adjust size as needed */
    height: auto;
    z-index: 0;
  }
  
  .corner-image-2 {
    position: absolute;
    top: 500px;
    right: 0; /* Adjust position as needed */
    width: 120px; /* Adjust size as needed */
    height: auto;
    z-index: 0;
  }
  
  .corner-image-3 {
    position: absolute;
    top: 40px;
    right: 5%; /* Adjust position as needed */
    width: 60px; /* Adjust size as needed */
    height: auto;
    z-index: 0;
  }
  
  .corner-image-4 {
    position: absolute;
    top: 50px;
    left: 2%; /* Adjust position as needed */
    width: 110px; /* Adjust size as needed */
    height: auto;
    z-index: 0;
  }
  
  .corner-image-5 {
    position: absolute;
    top: 330px;
    left: 0; /* Adjust position as needed */
    width: 80px; /* Adjust size as needed */
    height: 200px;
    z-index: 0;
  }
  
  .corner-image-6 {
    position: absolute;
    top: 750px;
    left: 7%; /* Adjust position as needed */
    width: 120px; /* Adjust size as needed */
    height: auto;
    z-index: 0;
  }
  
  .corner-image-7 {
    position: absolute;
    top: 240px;
    right: 0; /* Adjust position as needed */
    width: 80px; /* Adjust size as needed */
    height: auto;
    z-index: 0;
  }

  .save-button {
    padding: 10px 18px;
    font-size: 0.9em;
  }
}

